@import '../variables.scss';

.ms_main-two {
    background-color: $blue-color;
    height: 150px;

    ul {
        height: 100%;
        width: 1200px;

        li {
            img {
                height: 60px;
                margin-right: 10px;
            }

            p {
                color: $white-color;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}