@import '../variables.scss';

nav {
    width: $container-width;
    height: 100%;
    padding: 20px 0;

    // left side ---------------------------------
    .ms_left {
        img {
            height: 80px;
        }
    }

    // righ side --------------------------------
    .ms_right {
        ul {
            li {
                margin: 0 10px;
                font-size: 15px;
                font-weight: bold;

                a {
                    text-decoration: none;
                    color: $grey-color;

                    &:hover {
                        padding-bottom: 55px;
                        border-bottom: 3px solid $blue-color;
                        color: $blue-color;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}